
.main_window{
    /* background-color: darkcyan; */
    width: 100vw;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 40px auto ;
    
}

.div1{
    position: relative;
    /* background-color: darkgray; */
}

.div_top_menu{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:black;
    top: 0;
    transition: 0.5s;
    color:white;
}

.div_top_menu_2{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    top: -100%;
    transition: 0.5s;
    color:white;
}


 .div2{
    position: relative;
    display: grid ;
    grid-template-columns: 20% auto ;
    /* background-color: darkorange; */
    overflow: hidden;
}

.div3{
    position: relative;
    /* background-color: darkslateblue; */
}

.div4{
    
    /* display: grid;
    grid-template-columns: 1fr 1fr ; */
    /* background-color: deepskyblue; */
    position: relative;
    top:0;
    transition: 0.5s;
    
} 


.div_left{
    position: relative; 
    width: 100%;
    height: 100%;
    background-color: #262629;
    left: 0;
    transition: 0.5s;
    padding: 10%;
}

.div_left_2{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #262629;
    left: -100%;
    transition: 0.5s;
    padding: 10%;
}


.Link{
    
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 20px;
    
}


.span_Link{
    color:white;
    text-decoration: none;
    list-style-type: none;
    
    margin-bottom: 10px;
    width: auto;
    padding: 8px;
}

.span_Link:hover{
    cursor: pointer;
    color:black;
    background-color: #5BFFDA;
}

.div5{
    position: absolute;
    width: 50.5%;
    height: 100%;
    background-color: #39393D;
    bottom: 0;
    transition: 0.5s;
    
    color: white;
    padding: 1%;
    
}

.div5_2{
    position: absolute;
    width: 50.5%;
    height: 100%;
    background-color: #39393D;
    bottom: -100%;
    transition: 0.5s;
    padding: 1%;
    color: white;
    
} 


.div55{
    position: absolute;
    width: 50.5%;
    height: 100%;
    background-color: crimson;
    top: 0;
    transition: 0.5s;
    
    color: white;
    padding: 1%; 
    
}

.div55_2{
    position: absolute;
    width: 50.5%;
    height: 100%;
    background-color: crimson;
    top: -100%;
    transition: 0.5s;
    padding: 1%; 
    color: white;
    
} 


.div6{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #39393D;
    top: 0;
    transform: translateX(100%);
    transition: 0.5s;
    padding: 1%;
    
    color:white;
} 

.div6_2 {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #39393D;
    transform: translateX(100%);
    top:-100%;
    transition: 0.5s;
    padding: 1%;
   
    color:white;
}



.div66{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: coral;
    bottom: 0;
    transform: translateX(100%);
    transition: 0.5s;
    padding: 1%;
    
    color:white;
} 

.div66_2 {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color:coral;
    transform: translateX(100%);
    bottom:-100%;
    transition: 0.5s;
    padding: 1%;
   
    color:white;
}

.div7{
    background-color: #232326;
    position: absolute;
    width: 100%;
    height: 100%;
    right:0;
    transition: 0.9s;
    color: black;
}

.div7_2{
    background-color: #232326;
    position: absolute;
    width: 100%;
    height: 100%;
    right:-100%;
    transition: 0.9s;
    color: black;
}

.div8{

}

.Back {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    top: 90%;
    left: 10%;
    transition: 0.5s;
    border-radius: 100%;
}

.Back:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.1s;
   
}

.Back_2 {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    top: 90%;
    left: -100%;
    transition: 0.5s;
    border-radius: 100%;
}